.header-preview{
	//width: 1470px;
	width: 100%;
	height: 1180px;
	//height: 900px;
	z-index: 100;
	display: block;
	//left: 0!important;
	//position: relative!important;
	top: 10%;
	//*right: -2.5%;
	//background-repeat: no-repeat;
	//background-position: right center;
	//background-image: url("@{url-path-img}/index/bg-header.png");
	._hp__layer1,
	._hp__layer2,
	._hp__layer3{
		position: absolute;
		top: 0;
		left: inherit!important;
		right: 0;
		//height: 1050px;
	}
	._hp__layer1{z-index: 3;}
	._hp__layer2{z-index: 2;}
	._hp__layer3{z-index: 1;}
}
.bg-round{
	width: 775px;
	height: 775px;
	background-color: fadeout(@green-yellow, 50%);
	border-radius: 50%;
}
.bg-round-grey{
    left: -600px;
	width: 1715px;
	height: 1715px;
	background-color: darken(@white,6%); //#f0f0f0
	border-radius: 50%;
}
.bg-round-grey2{
    right: -650px;
	width: 1925px;
	height: 1925px;
	background-color: darken(@white,6%); //#f0f0f0
	border-radius: 50%;
}
.bg-round-niagara{
    right: -130px;
	width: 280px;
	height: 280px;
	background-color: fadeout(@niagara, 30%);
	border-radius: 50%;
}
.bg-round-green-light{
    left: -510px;
	width: 1175px;
	height: 1175px;
	background-color: fadeout(@green-light, 0%);
	border-radius: 50%;
}
.bg-round-blue-light{
	//position: absolute;
	//top: 7150px;
    right: -270px;
	width: 980px;
	height: 980px;
	background-color: fadeout(@blue-light, 0%);
	border-radius: 50%;
}
.bg-rect{
	width: 100px;
	height: 100px;
	background-color: fadeout(@blue-light, 20%);
}
.bg-rect-sm{
    right: 10%;
	width: 170px;
	height: 120px;
	background-color: fadeout(@blue-light, 0%);
}
.bg-rect-sm2{
    left: 4%;
	width: 250px;
	height: 180px;
	background-color: fadeout(@blue-light, 0%);
}
.bg-rect-yellow{
    right: 0%;
	width: 105px;
	height: 670px;
	background-color: fadeout(@green-yellow-light, 0%);
}
.bg-rect-yellow-2{
    right: 24%;
    transform: rotate(-27deg);
	width: 450px;
	height: 50px;
	background-color: fadeout(@green-yellow-light, 0%);
}
.bg-rect-yellow-3{
    right: 0%;
	width: 105px;
	height: 475px;
	background-color: fadeout(@green-yellow-light, 0%);
}
.bg-rect-blue-gray-sm{
	left: 3%;
    transform: rotate(27deg);
	width: 255px;
	height: 30px;
	background-color: fadeout(@blue-gray-light, 0%);
}
.bg-rect-blue-gray-sm2{
	position: absolute;
	top: 764%;
	left: 8.5%;
	width: 125px;
	height: 165px;
	background-color: fadeout(@blue-gray-light, 0%);
}
.bg-rect-blue-gray{
	width: 400px;
	height: 45px;
	background-color: fadeout(@blue-gray-light, 0%);    
    transform: rotate(27deg);
}
.bg-rect-blue-gray2{
	width: 75px;
	height: 745px;
	left: 110px;
	background-color: fadeout(@blue-gray-light, 0%);    
}
.bg-round-dove{	
	width: 500px;
	height: 500px;
	background-color: fadeout(@dove-colored, 40%);
	border-radius: 50%;
}