@maket: url(/img/maket/docs.jpg) no-repeat left 0px;
@opacity: 0.7;
html{
	background: @maket;  
	//opacity: @opacity;
	//opacity: 0.3;
	//min-height: 8000px;    
	//background-size: 100% auto;20px
	//background-position: center 7466px; 
}